body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#image {
    width: 100%;
}

.block {
    height: 200px;
}

.container {
    position: relative;
}



.kiri {
    position: absolute;
    width: 50%;
    height: 100%;
}

.kanan {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 500px;
    margin-bottom: 50px;
}

.button>div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15%;
    height: 100px;
    background-color: black;
    border:  3px rgb(47, 47, 47) solid;
    border-radius: 5px;
    box-sizing: border-box;
}


